<h4 class=" p-3 text-uppercase text-center">Contact Section</h4>
<div class="decorative-lines-about text-center">
  <div class="lineabout"></div>
  <div class="star"><i class="fa-solid fa-star"></i></div>
  <div class="lineabout"></div>
</div>
<div class="contact-form-container text-center">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="User Age" />
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="User Email" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="User Password" />
    </div>
    <button type="submit" class="btn btn-success">Send Message</button>
  </form>
</div>
<app-footer></app-footer>
